@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Schoolbell";
  src: url("../fonts/Schoolbell-Regular.woff2") format("woff2"),
    url("../fonts/Schoolbell-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --brand-color: #08546c;
  --brand-color-orange: #ffa63a;
}

/* GLOBAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1213px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* BUTTON */
.button {
  display: inline-block;
  padding: 16px 30px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  background-color: var(--brand-color);
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.header-button {
  padding: 14px 35px;
  font-weight: 700;
  background-color: #145e76;
}

.hero-button {
  background-color: #094556;
  border-radius: 30px;
  font-family: "Schoolbell", "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.button-hero-orange {
  font-weight: 600;
  padding-left: 35px;
  padding-right: 35px;
  color: #b6cdd5;
}

.button-hero-orange:hover {
  background-color: var(--brand-color-orange);
  color: #fff;
}

.main-content {
  flex-grow: 1;
  padding-top: 200px;
}

.wrapper-hero-heading {
  background-color: var(--brand-color);
  background-image: url("../img/bg-img.jpg");
}
/* HEADER */
.site-header {
  position: relative;
  z-index: 1;
  padding-top: 45px;
  padding-bottom: 45px;
}

.site-header-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: inline-block;
  margin-right: 271px;
}

.logo-img {
  color: #fff;
  display: block;
  flex-shrink: 0;
  width: 77px;
  height: 37px;
  object-fit: cover;
}

.logo-img:hover {
  color: var(--brand-color-orange);
}

.logo-img:active {
  opacity: 0.6;
}

.sitenav {
  margin-right: auto;
}

.sitenav-list {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sitenav-item:not(:last-child) {
  margin-right: 50px;
}

.sitenav-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a1b5bb;
  transition: font-weight 0.5s ease;
}

.sitenav-link:hover {
  font-weight: 600;
  text-decoration-line: underline;
}

.sitenav-link:active {
  opacity: 0.6;
}

/* HERO */
.site-hero {
  display: flex;
  align-items: flex-start;
  padding-right: 0;
  color: #fff;
  padding-bottom: 140px;
}

.site-hero-content {
  margin-right: -125px;
  padding-top: 105px;
  padding-bottom: 15px;
  max-width: 537px;
}

.hero-heading {
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
}

.hero-text {
  font-size: 18px;
  line-height: 29px;
  color: #849499;
  margin-bottom: 50px;
  margin-top: 0;
}

.hero-img {
  display: block;
  margin-top: -91px;
  margin-right: -160px;
  width: 918px;
  height: 755px;
  object-fit: cover;
}

.hero-message {
  display: flex;
  flex-direction: column;
  max-width: 306px;
  padding: 20px 28px;
  margin-top: 208px;
  margin-right: -360px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 3px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(58px);
  border-radius: 20px;
  color: #ffffff;
  line-height: 22px;
}

.hero-message-text {
  font-weight: 400;
  font-size: 14px;
}

.hero-message-footer {
  display: flex;
  align-items: center;
}

.hero-user-img {
  display: block;
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-right: 15px;
}

.hero-user {
  display: flex;
  flex-direction: column;
}

.hero-user-name {
  font-weight: 500;
  letter-spacing: 0.05em;
}

.hero-about-user {
  font-weight: 400;
  font-size: 12px;
  color: #a1b5bb;
}

.statistic {
  background-image: linear-gradient(to bottom, transparent 50%, #fff 50%);
}

.statistic-wrapper {
  padding: 78px 218px;
  background: #ffffff;
  box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  color: var(--brand-color);
  line-height: 22px;
}

.statistic-header {
  margin-top: 0;
  margin-bottom: 69px;
  font-weight: 600;
  font-size: 24px;
  color: #265a6a;
}

.statistic-list {
  display: flex;
}

.statistic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic-item:not(:last-child) {
  margin-right: 90px;
}

.statistic-number {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 29px;
}
.statistic-text {
  font-size: 18px;
  font-weight: 400;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

.services-header {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Schoolbell;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #265a6a;
}

.services-heading {
  margin-top: 0;
  margin-bottom: 70px;
  max-width: 510px;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: var(--brand-color);
}

.services-lists {
  display: flex;
}
.services-item {
  padding: 30px 28px 34px 30px;
  width: calc(25%- 26px);
  box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
}

.services-item:not(:last-child) {
  margin-right: 26px;
}

.services-item:hover svg {
  fill: #ffa800;
  color: #fff;
}

.services-item:hover {
  background-color: var(--brand-color);
  color: #fff;
}

.services-item:hover .services-item-header {
  color: #fff;
}

.services-item:hover .services-item-text {
  color: #b2bbbd;
}

.services-item:active {
  opacity: 0.6;
}

.services-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  color: var(--brand-color);
  fill: #f5fbfc;
  margin-bottom: 25px;
}

.services-item-header {
  margin-top: 0;
  color: #0f1221;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.services-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #696969;
}

.featured-portfolio {
  padding-bottom: 200px;
}

.featured-portfolio-header {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 45px;
  line-height: 56px;
  color: var(--brand-color);
}

.featured-portfolio-text {
  width: 50%;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #757575;
  margin-top: 0;
  margin-bottom: 60px;
}

.featured-portfolio-lists {
  margin-right: -140px;
  margin-bottom: -70px;
  display: flex;
  flex-wrap: wrap;
}
.featured-portfolio-item {
  max-width: 515px;
  margin-right: 140px;
  margin-bottom: 70px;
}

.featured-portfolio-img {
  display: block;
  width: 515px;
  height: 386px;
  object-fit: cover;
  margin-bottom: 40px;
}
.featured-portfolio-content-header {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
  color: var(--brand-color);
}

.featured-portfolio-content-text {
  max-width: 449px;
  font-weight: 400;
  color: #757575;
  margin-top: 0;
  margin-bottom: 20px;
}

.features-portfolio-content-link {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: var(--brand-color);
}

.features-portfolio-content-link::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../img/pointer-right.svg");
  background-size: cover;
  margin-left: 15px;
}

.features-portfolio-content-link:hover {
  color: var(--brand-color-orange);
}

.tentimontial {
  background-color: var(--brand-color);
  background-image: url("../img/bg-img.jpg");
  padding-top: 102px;
  padding-bottom: 102px;
}

.tentimontial-container {
  display: flex;
  align-items: center;
}

.tentimontial-img {
  width: 639px;
  height: 526px;
  object-fit: cover;
  display: block;
  margin-right: 44px;
}

.tentimontial-content::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 37px;
  background-image: url("../img/q-marks.svg");
  margin-bottom: 40px;
}

.tentimontial-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 500;
  color: #ffffff;
}

.tentimontial-footer-text {
  display: block;
  font-weight: 400;
  color: #aabfc6;
  margin-bottom: 46px;
}

.tentimontial-link {
  display: inline-block;
  color: #a6c1ca;
}

/* TODO.tentimontial-link:hover svg path {
  width: 54px;
  height: 33px;
  d: path(
    "m30.301 30.857 21.602-15.003L29.768 1.65M51.903 15.854l-49.985.913"
  ) !important;
  stroke: #a6c1ca;
  stroke-width: 3px;
} */

.link-left {
  transform: rotateY(180deg);
  margin-right: 24px;
}

.blog {
  display: flex;
  padding-top: 200px;
  padding-bottom: 110px;
  color: #757575;
}

.blog-left {
  max-width: 585px;
  margin-right: 137px;
}

.blog-left-img {
  width: 585px;
  height: 585px;
  object-fit: cover;
  display: block;
  margin-top: 0;
  margin-bottom: 40px;
}

.blog-left-header {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--brand-color);
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
}

.blog-left-text {
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 20px;
}

.blog-left-link {
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  color: #757575;
  text-transform: uppercase;
}

.blog-left-link:hover {
  padding-left: 26px;
  padding-right: 26px;
  color: #ffa800;
  background-color: #fff8eb;
  border-radius: 30px;
}

.blog-left-link:not(:last-child) {
  margin-right: 20px;
}

.blog-left-link-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-left-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  display: inline-block;
}

.blog-right {
}

.blog-right-header {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: var(--brand-color);
}

.blog-right-text {
  max-width: 340px;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 29px;
}

.blog-right-link-content {
  margin-top: 192px;
}

.blog-right-link {
  display: inline-block;
  color: var(--brand-color-orange);
  fill: #fff;
}

.blog-right-link :hover {
  color: #fff;
  fill: var(--brand-color-orange);
}

.blog-right-link:active {
  opacity: 0.6;
}

.blog-right-link:last-child {
  margin-left: 30px;
  transform: rotateY(180deg);
}

.site-footer {
  padding-top: 100px;
  padding-bottom: 132px;
  border-top: 2px solid #d5d5d5;
}

.footer-container {
  display: flex;
}

.footer-left {
  max-width: 344px;
  margin-right: auto;
}

.footer-logo {
  display: inline-block;
  width: 77px;
  height: 37px;
  object-fit: cover;
  color: var(--brand-color);
  margin-bottom: 20px;
}

.footer-logo:hover {
  color: var(--brand-color-orange);
}

.footer-logo:active {
  opacity: 0.6;
}

.footer-left-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
}

.footer-social-icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  display: inline-block;
  color: #757575;
}

.footer-social-icon:not(:last-child) {
  margin-right: 40px;
}

.footer-social-icon:hover {
  color: #ffa800;
}

.footer-social-icon:active {
  opacity: 0.6;
}

.footer-right {
  display: flex;
}

.footer-pages-services {
  display: flex;
}

.footer-lists-content:not(:last-child) {
  margin-right: 102px;
}

.footer-lists-contact {
  margin-left: 113px;
}

.footer-header {
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--brand-color);
}

.footer-lists {
}
.footer-item {
}
.footer-link {
  margin-top: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
}

.footer-link:hover {
  color: var(--brand-color-orange);
}

.footer-link:active {
  opacity: 0.6;
}

.footer-link:not(:last-child) {
  margin-bottom: 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .wrapper-hero-heading {
    background-image: url("../img/bg-img@2x.jpg");
  }

  .tentimontial {
    background-image: url("../img/bg-img@2x.jpg");
  }
}
